<!DOCTYPE HTML>
<html ng-app="calculator">
<head>
  <script src="./angular.min.js"></script>
  <script src="./calc.js"></script>
  <link href="./bootstrap.css" rel="stylesheet">
</head>
<body class="ng-cloak">
  <div ng-controller="CalcCtrl" class="container">
    <div>
      <h3>Super Calculator</h3>
      <form class="form-inline">
        <input ng-model="first" type="text" class="input-small"/>
        <select ng-model="operator" class="span1"
                ng-options="value for (key, value) in operators">
        </select>
        <input ng-model="second" type="text" class="input-small"/>
        <button ng-click="doAddition()" id="gobutton" class="btn">Go!</button>
        <h2>{{latest}}</h2>
      </form>
    </div>
    <h4>History</h4>
    <table class="table">
      <thead><tr>
        <th>Time</th>
        <th>Expression</th>
        <th>Result</th>
      </tr></thead>
      <tr ng-repeat="result in memory">
        <td>
          {{result.timestamp | date:'mediumTime'}}
        </td>
        <td>
          <span>{{result.first}}</span>
          <span>{{result.operator}}</span>
          <span>{{result.second}}</span>
        </td>
        <td>{{result.value}}</td>
      </tr>
    </table>
  </div>
</body>
</html>
